@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#bodyIndex {
  background-image: url(../assets/img/fondoIndex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* IMPORTS DE INDEX*/
#headerIndex {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#headerIndex nav {
  color: white;
  font-size: x-large;
  margin: 30px;
}
#headerIndex nav a {
  text-decoration: none;
  color: white;
  padding: 11px;
}
#headerIndex img {
  width: 85px;
  margin-left: 50px;
}
#headerIndex #Publica {
  border: 4px solid white;
  border-radius: 15px;
}
#headerIndex #Publica:hover {
  background-color: rgb(240, 88, 88);
  color: white;
}
#headerIndex .barra:hover {
  color: black;
}

article {
  margin-top: 190px;
  display: grid;
  grid-template-rows: repeat(2, 50%);
}
article h1 {
  font-size: 60px;
}
article h2 {
  font-size: 40px;
}
article .titulo {
  padding-top: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-style: oblique;
}

#footerIndex {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-family: serif;
}
#footerIndex a {
  text-decoration: none;
  color: rgb(240, 88, 88);
}
#footerIndex h3 {
  font-size: 15px;
}
#footerIndex .redes:hover {
  color: white;
}

/* IMPORTS DE SECCIÓN INGRESAR*/
#headerIngresar {
  background-color: rgb(243, 92, 92);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#headerIngresar nav {
  color: white;
  font-size: x-large;
  margin: 30px;
}
#headerIngresar nav a {
  text-decoration: none;
  color: white;
  padding: 11px;
}
#headerIngresar img {
  width: 85px;
  margin-left: 50px;
}
#headerIngresar #Publica {
  border: 4px solid white;
  border-radius: 15px;
}
#headerIngresar #Publica:hover {
  background-color: rgb(247, 247, 247);
  color: rgb(240, 88, 88);
}
#headerIngresar .barra:hover {
  color: black;
}

#sectionIngresar {
  background-color: rgb(240, 88, 88);
  font-size: 25px;
  color: white;
  text-align: center;
  height: 160px;
}
#sectionIngresar div {
  padding: 30px;
}
#sectionIngresar div img {
  width: 60px;
  align-items: center;
}

#lineaseparacion {
  font-size: larger;
  text-align: center;
}

#footerIngresar {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  font-family: serif;
}
#footerIngresar a {
  text-decoration: none;
  color: rgb(240, 88, 88);
}
#footerIngresar h3 {
  font-size: 15px;
}
#footerIngresar .redes:hover {
  color: white;
}

/* IMPORTS DE SECCIÓN DESTINOS*/
#sectionDestinos {
  background-color: rgb(240, 88, 88);
  font-size: 25px;
  color: white;
  text-align: center;
  height: 160px;
}
#sectionDestinos div {
  padding: 30px;
}
#sectionDestinos div img {
  width: 60px;
  align-items: center;
}

.ubicaciones {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, rgb(240, 88, 88) 49%, rgb(241, 187, 36) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.fotoscasas {
  width: 414px;
  height: 258.75px;
  transition: transform 1s, filter 2s;
  filter: grayscale(1);
}

.fotoscasas:hover {
  transform: scale(1.1);
  filter: none;
}

/* IMPORTS DE SECCIÓN CONTACTO*/
#sectionEmpleados div {
  display: grid;
  justify-content: center;
}
#sectionEmpleados img {
  width: 1100px;
}

#articleTrayectoria {
  text-align: center;
  margin-top: 60px;
  display: grid;
  grid-template-rows: 100px 1000px 100px 700px;
  justify-content: center;
}
#articleTrayectoria div {
  font-size: x-large;
  text-align: justify;
  width: 1000px;
}

.tituloTrayectoria {
  color: #333;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}
.tituloTrayectoria:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: rgb(243, 92, 92);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.3s;
}
.tituloTrayectoria:hover {
  color: rgb(240, 88, 88);
  cursor: default;
}
.tituloTrayectoria:hover:before {
  transform: scaleX(1);
}

/* IMPORTS DE SECCIÓN PUBLICA TU PROPIEDAD*/
#planes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
#planes .comision {
  width: 700px;
  border: 5px dashed rgb(240, 88, 88);
  border-radius: 20px;
  padding: 20px;
  margin: 50px;
}
#planes .comision h1 {
  text-align: center;
  background: linear-gradient(to right, rgb(240, 88, 88) 49%, rgb(241, 187, 36) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#planes .comision h3 {
  text-align: justify;
  margin: 15px;
}
#planes .comision button {
  display: block;
  margin: 0 auto;
  font-size: large;
  border: transparent;
  border-radius: 20px;
  height: 50px;
  width: 200px;
  background-color: rgb(243, 92, 92);
  color: white;
  transition: transform 0s;
}
#planes .comision button:hover {
  background-color: rgb(241, 187, 36);
  transform: scale(1.1);
}

#nuestrosSocios {
  text-align: center;
  color: #333;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}
#nuestrosSocios:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: rgb(243, 92, 92);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.3s;
}
#nuestrosSocios:hover {
  color: rgb(240, 88, 88);
  cursor: default;
}
#nuestrosSocios:hover:before {
  transform: scaleX(1);
}

.socios {
  padding-top: 3px;
  width: 170px;
  height: 130px;
  border-radius: 50%;
}

.divSocios {
  display: grid;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
