#headerIngresar {
    background-color: rgb(243, 92, 92);
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        color: white;
        font-size: x-large;
        margin: 30px;

        a {
            text-decoration: none;
            color: white;
            padding: 11px; 
        }
    }

    img {
        width: 85px;
        margin-left: 50px;
    }
    #Publica {
        border: 4px solid white;
        border-radius: 15px;
    
    }
    
    #Publica:hover {
        background-color: rgb(247, 247, 247);
        color: rgb(243, 92, 92);
    }
    .barra:hover {
        color: black;
    }
}

