* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#bodyIndex {
    background-image: url(./assets/img/fondoIndex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* IMPORTS DE INDEX*/

@import "layout/Index/headerIndex";
@import "layout/Index/articleIndex";
@import "layout/Index/footerIndex";

/* IMPORTS DE SECCIÓN INGRESAR*/

@import "layout/Ingresar/headerIngresar";
@import "layout/Ingresar/sectionIngresar";
@import "layout/Ingresar/footerIngresar";

/* IMPORTS DE SECCIÓN DESTINOS*/

@import "layout/Destinos/detallesDestinos";

/* IMPORTS DE SECCIÓN CONTACTO*/

@import "layout/Nosotros/seccionNosotros";

/* IMPORTS DE SECCIÓN PUBLICA TU PROPIEDAD*/

@import "layout/PublicaTuPropiedad/detallesPublicaTuPropiedad";

/* IMPORTS PARA RESPONSIVE*/

@import "layout/Responsive/responsive.scss";