#sectionDestinos {
    background-color: rgb(243, 92, 92);
    font-size: 25px;
    color: white;
    text-align: center;
    height: 160px;

    div {
        padding: 30px;

        img {
            width: 60px;
            align-items: center;
        }
    }
}

.ubicaciones {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: rgb(243, 92, 92);
}

.fotoscasas {
    width: 414px;
    height: 258.75px;
}