#sectionDestinos {
    background-color: $color-principal;
    font-size: 25px;
    color: white;
    text-align: center;
    height: 160px;

    div {
        padding: 30px;

        img {
            width: 60px;
            align-items: center;
        }
    }
}

.ubicaciones {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, $color-principal 49%, $color-secundario 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fotoscasas {
    width: 414px;
    height: 258.75px;
    transition: transform 1s, filter 2s;
    filter: grayscale(1);
}

.fotoscasas:hover {
    transform: scale(1.1);
    filter: none;
}